name: Test SKI Capital RSS

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install deps
        run: |
          pip install requests beautifulsoup4

      - name: Run SKI Capital RSS
        run: |
          python skicapital_rss.py
          ls -la


      - name: Upload RSS
        uses: actions/upload-artifact@v4
        with:
          name: skicapital-news
          path: skicapital-news.xml
